<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= kelasData.title %></title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

</head>
<body>
  <%-include('layouts/header');%>
  <!-- Tambahkan referensi jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <% if (notifSuksesUpdate) { %>
    <div class="toast ms-auto fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="fa-solid fa-square" style="color: #6892d9;"></i>
        <strong class="me-auto">Notifikasi</strong>
        <small><span id="countdown"></span> second ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Berhasil update data
      </div>
    </div>
    <script>
      // Display the toast when the page loads
      var toast = new bootstrap.Toast(document.querySelector('.toast'));
      toast.show();
  
      // Redirect to /data/data_guru after a brief delay
      setTimeout(function() {
        window.location.href = '/data/data_kelas';
      }, 6000); // Change the delay as needed (in milliseconds)
    </script>
  <% } %>

  <div class="container mt-5">
    <div class="">
      <h3 class="text-center animate__animated animate__bounce"><%= kelasData.title %></h3>

      <div class="container-sm mt-2">
        <div class="card bg-gradient bg-light mb-3 animate__animated animate__lightSpeedInRight">
          <div class="card-body">

            <div class="dropdown d-flex">
              <a href="/data/add_kelas" class="btn btn-warning mb-3 link-opacity-50-hover link-offset-2"><i class="fa-solid fa-square-plus mx-1"></i>Tambah Data</a>
              <a href="" class="mx-2 btn btn-outline-light mb-3 link-opacity-50-hover link-offset-2" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-gear" style="color: #94b1f5;"></i></a>
          
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Export</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalImport" href="#">Import</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>


            <div class="d-flex float-end">
              <div class="form-floating">
                <input type="text" class="form-control form-control-sm mb-1" list="datalistOptions" id="search-bar" placeholder="Search">
                <label for="search-bar"><i class="fa-solid fa-magnifying-glass mx-1"></i>Search</label>

                <datalist id="datalistOptions">
                  <option value="MIPA">MIPA</option>
                  <option value="IPS">IPS</option>
                  <option value="Bahasa">Bahasa</option>
                </datalist>
              </div>
            </div>
        </div>
      </div>

                      <!-- MODAL IMPORT -->
        <div class="modal fade" id="modalImport">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark">
                <h5 class="modal-title text-white">Import Data</h5>
              </div>

              <div class="modal-body">

                <div class="input-group mb-3">
                  <div class="col-md-9">
                    <label for="" class="form-label">Import Data Excel</label>
                    <input type="file" class="form-control" required>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Upload File</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tutup</button>
              </div>
            </div>
          </div>
        </div>

        <table class="table table-responsive table-hover rounded table-bordered shadow animate__animated animate__lightSpeedInLeft" id="dataTable">
          <thead class="table-dark text-center">
            <th>No.</th>
            <th>Nama Kelas</th>
            <th>Wali Kelas</th>
            <th>Action</th>
          </thead>
          <tbody class="text-center">
            <% for(let i = 0 ; i < tableKelas.length; i++) { %>
              <tr>
                <td><%= i + 1 %></td>
                <td class="text-uppercase"><%= tableKelas[i].nama_kelas %></td>
                <td><%= tableKelas[i].nama_wali_kelas %></td>
                <td>
                  <a href="#" class="text-decoration-none mx-2 update-button" data-bs-toggle="modal" data-bs-target="#modalUpdateKelas"
                  data-id_kelas="<%= tableKelas[i].id_kelas %>"
                  data-nama="<%= tableKelas[i].nama_kelas %>"
                  data-wali="<%= tableKelas[i].nama_wali_kelas %>">
                 <i class="fa-solid fa-pen-to-square link-dark link-offset-2-hover link-opacity-75-hover" data-bs-toggle="tooltip" title="Update"></i>
                </a>

                  <a class="pointer-event text-decoration-none mx-2" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id_kelas="<%= tableKelas[i].id_kelas %>">
                    <i class="fa-solid fa-trash-can link-dark link-offset-2-hover link-opacity-75-hover" data-bs-toggle="tooltip" title="Delete"></i>
                  </a>

                  <a href="#" class="text-decoration-none mx-2 detail-button" data-toggle="modal" data-target="#detailModalKelas">
                    <i class="fa-solid fa-info link-dark link-offset-2-hover link-opacity-75-hover" data-bs-toggle="tooltip" title="Detail"></i>
                  </a>

                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <% if(notifSuksesTambah) { %>
    <!-- Kode HTML untuk modal -->
    <div class="modal fade" id="successTambahModal" data-bs-backdrop="static" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fa-solid fa-square-check mx-1" style="color: #2d69d2;"></i>Notifikasi Tambah Data</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Data Kelas berhasil di tambah.
          </div>  
          <div class="modal-footer">
            <a href="/data/data_kelas">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">OK</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% } %>

  <script>
    $(document).ready(function(){
        $('#successTambahModal').modal('show')
    });
  </script>

  <script>
    var toast = new bootstrap.Toast(document.querySelector('.toast'));
    toast.show();
  </script>

  <script src="/js/liveSearch.js"></script>
  <script src="/js/enableTooltip.js"></script>
  <script src="/js/countDown.js"></script>
  <%- include('delete/delete_kelas.ejs'); %>
  <%- include('update/update_kelas.ejs'); %>


</body>
</html>